aiohttp
aiosignal
async-timeout
attrs
cachetools
certifi
charset-normalizer
colorama
discord
discord.py
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
multidict
oauth2client
oauthlib
Pillow
pip
protobuf
pyasn1
pyasn1-modules
pyfiglet
pyparsing
pytube
pytz
random-user-agent
requests
requests-oauthlib
requests-toolbelt
rsa
setuptools
six
uritemplate
urllib3
yarl
