certifi
pytz
pip
attrs
pytube
pillow
multidict
protobuf
googlemaps
rsa
cachetools
oauth2client
uritemplate
async-timeout
aiohttp
idna
oauthlib
pyparsing
google-api-python-client
requests
google-auth
google-api-core
discord
discord.py
charset-normalizer
googleapis-common-protos
urllib3
six
yarl
frozenlist
aiosignal
requests-oauthlib
random-user-agent
google-auth-oauthlib
httplib2
requests-toolbelt
pyfiglet
pyasn1
colorama
pyasn1-modules
google-auth-httplib2
setuptools
